@font-face {
    font-family: "NSS05";
    src: url(PixeloidSans-E40en.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'NSS05', sans-serif;
    background-color: #1e1e1e;
    color: #f0f0f0;
}

/* Flex layout to push footer down */
body {
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #2e222f;
    padding: 20px 0;
    text-align: center;
}

header h1 a{
    text-decoration: none;
    font-size: 2.5rem;
    color: #fff;
}

/* Footer */
footer {
    background-color: #2e222f;
    text-align: center;
    padding: 10px 20px;
    margin-top: auto;
    color: #ccc;
}

footer .social-icons a {
    color: #9e8aa1;
    font-size: 28px;
    margin: 0 12px;
    transition: transform 0.2s, color 0.2s;
}

footer .social-icons a:hover {
    color: #fff;
    transform: scale(1.3);
}

footer a {
    color: #9e8aa1;
    text-decoration: none;
    font-size: 1.4rem;
}

footer a:hover {
    color: #fff;
}

